.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.loginForm {
  width: 100%;
  max-width: 24rem;
  border-color: rgb(2, 78, 52);
  box-shadow: inset;
}

.formGroup {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  text-align: center;
}